name: build
on:
  push:
    branches:
      - "*"
      - "*/*"
      - "**"
  pull_request:
    branches:
      - main
      - v3
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: nrwl/nx-set-shas@v3
      - name: Install deps
        run: npm ci
      - name: Lint affected
        run: npx nx affected -t lint
      - name: Test affected
        run: npx nx affected -t test --configuration=ci
      - name: Build affected
        run: npx nx affected -t build buildWithPrimeNGTranslations
