name: build
on:
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
  pull_request:
    branches:
      - main
      - develop
      - v3
      - v5
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: nrwl/nx-set-shas@v3
      - name: Install deps
        run: npm ci
      - name: Lint affected
        run: npx nx affected -t lint
      - name: Test affected
        run: npx nx affected -t test --configuration=ci > jest-output.log
      - name: Upload Jest Logs
        uses: actions/upload-artifact@v4
        with:
          name: jest-logs
          path: jest-output.log
      - name: Build affected
        run: npx nx affected -t build
