name: SonarQube Scan

on:
  workflow_call:

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-reports

      - name: Find affected lib coverage directories
        id: set-matrix
        run: |
          paths=$(find reports -maxdepth 1 -mindepth 1 -type d -exec basename {} \;)
          coverage_reports=$(printf '%s\n' $paths | jq -R . | jq -s -c)
          echo "matrix=$coverage_reports" >> $GITHUB_OUTPUT

  sonar-scan:
    needs: set-matrix
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        path: ${{ fromJson(needs.set-matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download reports
        uses: actions/download-artifact@v4
        with:
          name: coverage-reports

      - name: Normalize lcov.info for SonarCloud
        run: |
          lcov_path="reports/${{matrix.path}}/coverage/lcov.info"
            echo "Normalizing $lcov_path" 

            # Modify the lcov.info file in-place: prepend a slash to each 'SF:' line
            # This ensures absolute paths for SonarCloud 
            # "SF:home/..." -> "SF:/home/..." 
            sed -i 's|^SF:|SF:/|' "$lcov_path"
        shell: bash

      - name: Run SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_URL: 'https://sonarcloud.io'
        with:
          projectBaseDir: libs/${{ matrix.path }}/
          args: >
            -Dsonar.projectKey=${{ github.repository_owner }}_${{ github.event.repository.name }}_${{ matrix.path }}
            -Dsonar.host.url=$SONAR_URL
            -Dsonar.organization=${{ github.repository_owner }}
            -Dsonar.scm.disabled=true
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.javascript.coveragePlugin=lcov
            -Dsonar.javascript.lcov.reportPaths=../../reports/${{ matrix.path }}/coverage/lcov.info
            -Dsonar.testExecutionReportPaths=../../reports/${{ matrix.path }}/sonarqube_report.xml
            -Dsonar.working.directory=../../reports/${{ matrix.path }}/.scannerwork
            -Dsonar.coverage.exclusions=**/*.ts,**/*.js,**/*.module.ts,**/*.main.ts,**/environments/**,**/assets/**,**/generated/**,**/*.stories.ts,**/*.harness
            -Dsonar.test.inclusions=/**/*.spec.ts
