name: Build Storybook (Fork)
on:
  pull_request:
    branches:
      - 'main'
      - 'v7'
      - 'v6'
      - 'v5'
jobs:
  build-storybooks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: npm ci
      - name: Build AA Storybook
        run: npx nx run angular-accelerator:build-storybook
      # Re-add the following code if you wish to deploy Storybooks for PRs (also see necessary changes in storybook-deploy-fork.yml)
      # - name: Upload build artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: storybook-dist
      #     path: dist/storybook/
