name: Build Storybook
on: 
  push:
    branches:
      - '**'
jobs:
  deploy-storybooks:
    runs-on: ubuntu-latest
    environment: Storybook
    env:
      AA_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN_AA }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: npm ci
      - name: Build AA Storybook
        run: npx nx run angular-accelerator:build-storybook
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: storybook-dist
          path: dist/storybook/
