name: Build Storybook (Fork)
on:
  pull_request:
    branches:
      - 'main'
      - 'develop'
      - 'v5'
jobs:
  build-storybooks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Show npm registry
        run: npm config get registry
      - name: Install dependencies
        run: npm ci
      - name: Build PIA Storybook
        run: npx nx run portal-integration-angular:build-storybook
      - name: Build AA Storybook
        run: npx nx run angular-accelerator:build-storybook
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: storybook-dist
          path: dist/storybook/
